@media screen and (min-width: 600px) {
    .full-movie {
        justify-content: space-between;
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
}

@media screen and (max-width: 100%) {
    .full-movie {

        justify-content: space-between;
        margin: 0 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
}


.full-movie-back-btn {
    text-decoration: none;
    color: black;
    flex: 15%;
    justify-self: baseline;
    cursor: pointer;
}

.full-movie-text {
    padding: 20px;
    flex: 85%;
}

.full-movie-details {
    margin-top: 20px;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.full-movie-image {
    overflow: hidden;
    width: 100%;
    max-height: 100vh;
}